/* @import './base.css'; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-mainColor
  }

  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-semibold;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-semibold;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-extrabold;
  }

  h4 {
    @apply text-base md:text-lg lg:text-xl font-bold;
  }

  embed {
    @apply h-[500px]
  }

  .inputHolder {
    @apply relative flex flex-col text-center mt-5 mb-5 px-5;
  }

  .input {
    @apply bg-transparent w-full py-[10px] px-[12px] text-sm border-[1.5px] border-solid border-mainColor/60 outline-none focus:border-mainColor rounded-lg placeholder:text-transparent;
  }

  .inputLabel {
    @apply absolute -top-[8px] left-[34px] px-1.5 bg-[#fff] text-xs font-normal transition-all text-[gray] peer-focus:-top-[8px] peer-focus:text-mainColor peer-placeholder-shown:top-[12px] select-none;
  }

  input:disabled,
  button:disabled {
    @apply disabled:opacity-50 cursor-not-allowed;
  }

  input.logInput {
    @apply hidden 
  }
  input.logInput~label {
    @apply opacity-50 cursor-pointer select-none
  }
  input.logInput:checked+label {
    @apply opacity-100 text-mainColor
  }

  .dashNav {
    @apply flex gap-2.5 py-2 px-4 text-sm text-white lg:hover:bg-gray-700 hover:bg-blue-100 rounded
  }

  .checkPoints {
    @apply flex gap-2.5 py-2 first:border-t border-b text-sm
  }

  .blueBtn {
    @apply block rounded-md border border-transparent bg-mainColor text-white px-4 py-2 focus:outline-none
  }

  .whiteBtn {
    @apply block mx-auto rounded-md border-mainColor border-2 bg-white px-4 py-2 focus:outline-none
  }

  .advertType {
    @apply min-w-[250px] w-[350px] flex flex-col justify-between rounded overflow-hidden border border-gray-500
  }

  svg {
    @apply inline
  }

  .vue-pagination span.sr-only {
    display: none !important;
  }
}